In [8]:
import pandas as pd

df = pd.read_csv('../data/sales.csv')
df

df.head()

df.describe()

       order_id       price  quantity
count  5.000000    5.000000   5.00000
mean   3.000000  350.000000   2.20000
std    1.581139  295.803989   1.30384
min    1.000000  100.000000   1.00000
25%    2.000000  150.000000   1.00000
50%    3.000000  200.000000   2.00000
75%    4.000000  500.000000   3.00000
max    5.000000  800.000000   4.00000